@model AppPoolIdentity.WebMvc.Models.WebAppIdentityModel

@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>WebApp Identity</h1>
</div>

<div class="row">
    <div class="col-sm-2">
        <p>App Pool Identity : </p>
    </div>
    <div class="col-sm-10">
        @Html.DisplayTextFor(Model => Model.AppPoolIdentityName)
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <p>User Identity : </p>
    </div>
    <div class="col-sm-10">
        @Html.DisplayTextFor(Model => Model.UserIdentityName)
    </div>
</div>
@if (!Model.IsAuthenticated)
{
<div class="row">
    <div class="col-sm-2">@Html.ActionLink("Tengo una cuenta creada", "LogIn", "Account")</div>
</div>
}
else
{
    <div class="row">
        <div class="col-sm-2">@Html.ActionLink("Tengo una cuenta creada", "LogOut", "Account")</div>
    </div>
}

<div class="row">
    <div class="col-sm-2">@Html.ActionLink("Deseo crear una cuenta", "Create", "Account")</div>
</div>
